*, *::before, *::after
  margin: 0
  +box

ul
  list-style: none

body
  max-width: 100%
  overflow-x: hidden
  display: flex
  flex-direction: column
  font-family: ProximaNova, sans-serif

  .wrapper
    max-width: 1300px
    padding: 0 15px
    margin: 0 auto

    &_fullHD
      max-width: 1920px
      margin: 0 auto
      position: relative

p
  margin: 0

h2
  font-family: Bodoni

.innerTitle
  //@include font($textBlack, $regular, 400, 72px, 1)
  margin: 0 0 70px

.subtitle
  //@include font($textBlack, $regular, 400, 220px, 1)
  position: absolute
  z-index: -1
  top: -15px

.btn
  display: inline-flex
  padding: 0 55px
  //@include font($white, $regular, 400, 18px, 55px)
  white-space: nowrap
  text-decoration: none
  +transition
  +border-radius(30px)
  +box

  &:hover
    +transition

  &_gold-transparent
    padding: 12px 30px
    color: $gold
    border: 1px solid $gold
    background-color: transparent
    font-size: 12px
    +border-radius(18px)

.slick-slide
  &:focus
    outline: none

.slick-dots
  padding: 0
  +center
  list-style: none
  margin: 90px 0 0

  li
    width: 30px
    +center

    button
      padding: 0
      font-size: 0
      border: none
      background: #9F9F9F
      width: 12px
      height: 12px
      +border-radius(6px)
      opacity: 0.2
      +transition

      &:focus
        outline: none

    &.slick-active
      button
        +transition
        width: 100%
        background: #FECA8B
        opacity: 1

.slick-arrow
  border: none
  background: none
  position: absolute
  cursor: pointer
  top: -190px

  &:focus
    outline: none

  &.slick-next
    right: 0
    +transform(rotate(180deg))

  &.slick-prev
    right: 90px

.logo
  &_footer, &_header
    display: flex
  &__text span
    display: block


