@charset "UTF-8";
/* LIBS */
@import "libs/jquery.fancybox.min.css";
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ProximaNova-RegularIt.ttf) format("truetype");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/ProximaNova-Black.ttf) format("truetype");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/ProximaNova-Extrabld.ttf) format("truetype");
}
@font-face {
  font-family: "Bodoni";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/bodoni-bold-cyrillic.ttf) format("truetype");
}
@font-face {
  font-family: "Bodoni";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/BodoniBlack.ttf) format("truetype");
}
/* BLOCKS */
*, *::before, *::after {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: ProximaNova, sans-serif;
  color: #252525;
}
body .wrapper {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
body .wrapper_fullHD {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
body .wrapper_half {
  width: 50%;
}

p {
  margin: 0;
}

h2 {
  font-family: Bodoni;
  font-weight: 600;
  font-size: 100px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

header {
  position: relative;
  background-color: #252525;
  z-index: 20;
}
header.header_main {
  background-color: unset;
}

.gold {
  color: #cc9966;
}

.grey {
  color: #bebebe;
}

.italic {
  font-family: ProximaNova, sans-serif;
  font-style: italic;
}

.innerTitle {
  margin: 0 0 70px;
}

.subtitle {
  position: absolute;
  z-index: -1;
  top: -15px;
}

.btn {
  display: inline-flex;
  padding: 0 55px;
  white-space: nowrap;
  text-decoration: none;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.btn_gold-transparent {
  padding: 12px 30px;
  color: #cc9966;
  border: 1px solid #cc9966;
  background-color: transparent;
  font-size: 18px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  cursor: pointer;
  font-family: Bodoni;
  font-weight: 600;
}
.btn_black {
  padding: 16px 40px;
  background-color: #252525;
  color: #cc9966;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 24px;
  border: none;
}
.btn__delete-file {
  border: none;
  background-color: transparent;
}

.button_language-selector {
  border: none;
  background: transparent;
  color: #cc9966;
  cursor: pointer;
}
.button_language-selector.active {
  font-weight: 600;
}
.button_language-selector:not(:last-child) {
  margin-right: 2px;
  padding-right: 8px;
  border-right: 2px solid #cc9966;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slide:focus {
  outline: none;
}

.slick-dots {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 90px 0 0;
}
.slick-dots li {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li button {
  padding: 0;
  font-size: 0;
  border: none;
  background: #9F9F9F;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0.2;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100%;
  background: #FECA8B;
  opacity: 1;
}

.slick-arrow {
  border: none;
  background: none;
  position: absolute;
  cursor: pointer;
}
.slick-arrow:focus {
  outline: none;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow.slick-prev {
  left: 0;
}

.logo_footer, .logo_header {
  display: flex;
  font-size: 16px;
}
.logo__text {
  margin-left: 12px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.logo__text span {
  font-size: 22px;
  font-weight: 600;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  filter: brightness(0.5);
}
.video-bg__file {
  display: block;
  height: auto;
}

#map, #YMapsID, #YMapsID2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 40%;
  z-index: 5;
  max-width: 1100px;
  height: 520px;
}

.YMaps-layer-container {
  filter: grayscale(100%);
  -webkit-filter: grayscale(1);
}

.line {
  position: absolute;
  z-index: -1;
  height: 4px;
}
.line-gold_right {
  background-color: #cc9966;
  right: 0;
}
.line-gold_left {
  background-color: #cc9966;
  left: 0;
}

.title__wrapper {
  display: flex;
  width: 100%;
}

.callback {
  position: relative;
  background-color: #cc9966;
}
.callback .wrapper {
  padding: 80px 15px;
  background: url("../img/icons/question.png") top 0 right 8px no-repeat;
}
.callback__inputs {
  padding: 0;
  max-width: 660px;
  width: 100%;
}
.callback__inputs label {
  position: absolute;
  font-size: 0;
}
.callback__inputs input {
  margin: 0 0 24px 0;
  padding: 0 24px;
  height: 58px;
  max-width: 100%;
  width: 100%;
}
.callback__inputs__small-group {
  display: flex;
  gap: 24px;
}
.callback__inputs__small-group div {
  max-width: 100%;
  width: 100%;
}
.callback__controls {
  margin-left: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.callback__controls__text {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  text-align: right;
}
.callback__controls__text h2 {
  margin: -24px 0 20px;
  line-height: 1;
}
.callback__controls__text div {
  max-width: 360px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.callback__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 24px;
}
.callback__buttons .form__file-name {
  font-weight: 400;
  font-size: 16px;
}
.callback__buttons input[type=file] {
  visibility: hidden;
  width: 1px;
}
.callback__file {
  margin-right: 16px;
}
.callback__file label {
  cursor: pointer;
}
.callback form {
  display: flex;
}
.callback input, .callback textarea {
  background-color: transparent;
  border: 1px solid #252525;
  font-size: 18px;
}
.callback input:focus, .callback textarea:focus {
  outline: none;
}
.callback input::placeholder, .callback textarea::placeholder {
  color: #252525;
  font-family: ProximaNova, sans-serif;
  font-size: 18px;
}
.callback textarea {
  padding: 20px 24px;
  width: 100%;
}

.accordion {
  display: flex;
  flex-flow: column;
  background-color: white;
  border: 3px solid #ebebeb;
}
.accordion__item {
  padding-bottom: 36px;
  display: flex;
  position: relative;
  height: 212px;
  overflow: hidden;
  transition: height 0.6s ease-in;
}
.accordion__item::after {
  position: absolute;
  content: "";
  height: 90px;
  bottom: 0;
  right: 160px;
  left: 0;
  background: linear-gradient(to top, white, white 20px, rgba(255, 255, 255, 0));
}
.accordion__item:not(:last-child) {
  border-bottom: 3px solid #ebebeb;
}
.accordion__item:hover .accordion__arrow_down__container {
  transform: translateY(16px);
}
.accordion__item.active {
  height: auto;
}
.accordion__item.active::after {
  content: unset;
}
.accordion__item.active .accordion__arrow_down__container {
  display: none;
}
.accordion__item.active .accordion__arrow_down__container::before {
  content: url("../img/strelka_down.png");
}
.accordion__item.active .accordion__arrow_up__container {
  display: flex;
  flex-flow: column;
}
.accordion__item.active .accordion__arrow_up__container::before {
  content: url("../img/strelka_up.png");
}
.accordion__item__text {
  position: relative;
  max-width: 940px;
  overflow: hidden;
  font-size: 18px;
}
.accordion__item h2 {
  padding: 32px 0;
  font-size: 30px;
  line-height: 1;
}
.accordion__icon-container {
  width: 120px;
  flex: none;
  background-repeat: no-repeat;
  background-position: top 40px left 45%;
}
.accordion__arrow-container {
  display: flex;
  flex: none;
  width: 200px;
  height: inherit;
}
.accordion__arrow_down__container {
  margin: auto;
  transition: transform 0.3s;
}
.accordion__arrow_down__container::before {
  content: url("../img/strelka_down.png");
}
.accordion__arrow_up__container {
  margin: auto auto 0;
  display: none;
}
.accordion__arrow_up__container::before {
  content: url("../img/strelka_up.png");
}
.accordion__arrow_up__container span {
  padding-right: 8px;
  writing-mode: tb;
  transform: rotate(180deg);
  font-family: Bodoni;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  max-height: 100px;
}

.header {
  padding: 20px 0 30px;
  position: relative;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link, .header .logo_header {
  color: #cc9966;
  font-size: 18px;
  font-weight: 600;
}
.header__nav {
  padding: 32px;
  background: #252525;
  display: none;
  position: absolute;
  right: -110%;
  top: 0;
  height: 100vh;
  width: 100%;
  -webkit-transition: right 0.6s ease-in-out 0.1s;
  -moz-transition: right 0.6s ease-in-out 0.1s;
  -ms-transition: right 0.6s ease-in-out 0.1s;
  -o-transition: right 0.6s ease-in-out 0.1s;
  transition: right 0.6s ease-in-out 0.1s;
  z-index: 30;
  opacity: 0.9;
}
.header__nav.active {
  display: block;
  right: 0;
}
.header__nav .wrapper {
  opacity: unset;
}

footer {
  background-color: #252525;
  color: #cc9966;
  z-index: 10;
  position: relative;
}

.footer {
  padding: 20px 0 30px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  color: #cc9966;
  text-decoration: none;
}
.footer__link {
  font-size: 18px;
  font-weight: 600;
}

.modal--callback {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal {
  display: none;
  background: #F5F5F5;
  width: 450px;
}
.modal .form-input {
  height: 45px;
  padding: 0 20px;
  line-height: 28px;
}
.modal .form-input, .modal .form-textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #cc9966;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.modal__title {
  margin-bottom: 20px;
}
.modal__btns {
  display: flex;
  flex-direction: column;
}
.modal__btns a:not(:last-child) {
  margin-bottom: 10px;
}
.modal p {
  margin-bottom: 40px;
}
.modal__order {
  margin-bottom: 30px;
  text-align: left;
}
.modal__order__item {
  display: flex;
  background: #ffffff;
  padding: 15px;
}
.modal__order__item img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}
.modal__order__item_top {
  margin-bottom: 10px;
}
.modal__order__item__name {
  margin-bottom: 10px;
}
.modal__order__item__price {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  border: none;
}
.form-input:focus {
  outline: none;
}

.modal-form__row label {
  margin-bottom: 30px;
  display: block;
}

#burger_button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 30px;
  height: 23px;
  font-size: 0;
  background-color: inherit;
  border: none;
  z-index: 15;
}
#burger_button span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #cc9966;
  transition: all 0.3s;
}
#burger_button span::before, #burger_button span::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #cc9966;
  transition: all 0.3s;
}
#burger_button span::before {
  top: 0;
}
#burger_button span::after {
  bottom: 0;
}
#burger_close {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 30px;
  height: 23px;
  font-size: 0;
  background-color: inherit;
  border: none;
  z-index: 15;
}
#burger_close span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #cc9966;
  transition: all 0.3s;
  transform: rotate(45deg);
}
#burger_close span::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #cc9966;
  transition: all 0.3s;
  transform: rotate(90deg);
}

.nav__list {
  margin-top: 24px;
  display: flex;
  flex-flow: row wrap;
}
.nav__list li {
  padding: 8px 24px;
}
.nav__list li:first-child {
  font-size: 24px;
}
.nav__list_1 {
  color: white;
  font-size: 30px;
}
.nav__list_1 a {
  color: white;
}
.nav__list_2 {
  color: #cc9966;
}
.nav__list_2__title {
  font-weight: 600;
}
.nav__list_2 a {
  color: #cc9966;
}
.nav__list_2 li {
  display: flex;
  flex-flow: column;
  max-width: 440px;
}

/* PAGES */
.hero {
  margin: -118px 0 0;
  padding: 340px 0 72px;
  position: relative;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}
.hero__main {
  text-align: center;
  color: #ffffff;
}
.hero__main h1 {
  color: #cc9966;
  font-family: "Bodoni";
  font-size: 100px;
  font-weight: 600;
}
.hero__main span {
  font-size: 36px;
}
.hero__achievements {
  margin-top: 100px;
}
.hero__achievements__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  color: #ffffff;
  font-size: 18px;
}
.hero__achievements li {
  display: flex;
  align-items: center;
}
.hero__achievements li img {
  margin-right: 12px;
}
.hero__achievements li p {
  max-width: 180px;
}

.principles {
  margin-top: 60px;
  position: relative;
}
.principles .line-gold_right {
  left: 40%;
  top: 66px;
}
.principles h2 {
  background-color: white;
  display: inline-block;
  padding-right: 24px;
}
.principles__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  counter-reset: section;
  margin-bottom: 80px;
}
.principles__list li {
  background: #ffffff;
  padding: 84px 20px 8px 80px;
  position: relative;
  overflow: hidden;
}
.principles__list li::before {
  counter-increment: section;
  content: "0" counter(section);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 120px;
  font-family: Bodoni, sans-serif;
  font-weight: 900;
  color: #e3e2e2;
  z-index: 5;
}
.principles__list li span {
  margin-bottom: 16px;
  display: block;
  position: relative;
  z-index: 15;
  font-family: Bodoni;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
.principles__list li p {
  position: relative;
  z-index: 15;
}

.services {
  padding: 68px 0;
  position: relative;
  background-color: #252525;
  color: #ffffff;
  font-size: 13px;
}
.services .line-gold_left {
  z-index: 5;
  right: 50%;
  top: 124px;
}
.services .wrapper {
  display: flex;
  flex-flow: column;
}
.services__list {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 90px;
  column-gap: 144px;
}
.services__list li p {
  font-size: 18px;
  margin-top: 8px;
}
.services h2 {
  padding-left: 40px;
  display: flex;
  align-self: flex-end;
  z-index: 10;
  background-color: #252525;
}
.services_page {
  margin: 20px 0;
  position: relative;
}
.services_page .line-gold_right {
  left: 30%;
  top: 124px;
}
.services_page h1 {
  margin: 60px 0;
  padding-right: 20px;
  display: inline-block;
  font-size: 100px;
  font-family: Bodoni;
  line-height: 1;
  background-color: white;
}

.cases {
  padding: 60px 0 48px;
  position: relative;
  background-color: #cc9966;
}
.cases .line-black_right {
  right: 0;
  left: 50%;
  top: 128px;
  background-color: #252525;
}
.cases__item {
  display: block;
}
.cases__item span {
  display: block;
  color: #9f764d;
}
.cases__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cases__title h2 {
  margin-left: 200px;
  padding-right: 40px;
  position: relative;
}
.cases__link {
  padding: 20px 20px 0;
  position: relative;
  color: #252525;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
}
.cases .wrapper {
  background: url("../img/case.png") center left no-repeat;
  background-size: contain;
}
.cases__slider {
  margin-top: 16px;
}
.cases .slick-list {
  margin: 0 360px;
}
.cases .slick-arrow {
  display: flex;
  align-items: center;
  top: 0;
  font-size: 30px;
  font-family: Bodoni;
  font-weight: 600;
  color: white;
}
.cases .slick-arrow.slick-disabled {
  visibility: hidden;
}
.cases .slick-next {
  top: 0;
  text-align: right;
}
.cases .slick-next::after {
  margin-left: 24px;
  content: url("../img/strelka.png");
}
.cases .slick-prev {
  left: 0;
  text-align: left;
}
.cases .slick-prev::before {
  margin-right: 24px;
  content: url("../img/strelka.png");
  transform: rotate(180deg);
}

.education {
  margin-top: 60px;
  padding-bottom: 100px;
  position: relative;
}
.education .line-black_left {
  z-index: 5;
  left: 0;
  right: 50%;
  top: 72px;
  background-color: #000000;
}
.education .wrapper {
  display: flex;
}
.education .wrapper_half.right {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.education__list__years {
  margin-left: -20px;
  padding: 0 36px 0 20px;
  display: inline-block;
  position: relative;
  color: #cc9966;
  background-color: white;
  font-family: Bodoni;
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
  z-index: 10;
}
.education__list__title {
  display: block;
  margin-top: 18px;
  font-size: 22px;
  font-weight: 600;
}
.education__list > li {
  margin-top: 50px;
}
.education__card {
  padding: 20px 60px 60px;
  margin-left: auto;
  position: relative;
  max-width: 410px;
  border: 3px solid #e3e2e2;
  background: url("../img/quots.png") bottom 60px right 60px no-repeat;
}
.education__achievements__list {
  padding: 0 0 44px;
  margin-bottom: 42px;
  border-bottom: 3px solid #e3e2e2;
}
.education__achievements__list li {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: #cc9966;
  font-weight: 800;
}
.education__img-container {
  max-width: 100px;
  width: 100%;
}
.education h2 {
  position: relative;
  margin-top: 16px;
  text-align: right;
  z-index: 10;
  background-color: white;
}
.education__signature {
  margin-top: 12px;
  display: block;
  font-weight: 600;
}

.contacts {
  position: relative;
  background-color: #ebebeb;
}
.contacts .line-black_left {
  z-index: 5;
  left: 0;
  right: 80%;
  top: 96px;
  background-color: #000000;
}
.contacts .wrapper {
  display: flex;
}
.contacts .wrapper .wrapper_half {
  z-index: 15;
  background-color: #ebebeb;
}
.contacts__list {
  margin-top: 8px;
}
.contacts__list li {
  margin-top: 24px;
}
.contacts__item__title {
  display: block;
  color: #cc9966;
  font-weight: 600;
  font-size: 18px;
}
.contacts__item__info {
  display: block;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
  text-decoration: none;
}
.contacts__item__info_gold {
  margin-bottom: 24px;
  font-weight: 600;
  color: #cc9966;
  display: inline-block;
  border-bottom: 2px solid #cc9966;
}
.contacts h2 {
  margin: 16px 0 0 -20px;
  padding-left: 20px;
  position: relative;
  z-index: 10;
  background-color: #ebebeb;
}
.contacts_page {
  padding: 68px 0 20px;
  position: relative;
  font-size: 13px;
}
.contacts_page .line-gold_left {
  right: 30%;
  top: 124px;
}
.contacts_page .title__container {
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.contacts_page h1 {
  padding-left: 32px;
  display: inline-block;
  color: #cc9966;
  background-color: white;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 100px;
}
.contacts_page h2 {
  padding: 88px 0 20px;
  position: relative;
  font-size: 48px;
  max-width: 500px;
}
.contacts_page h2:before {
  position: absolute;
  content: url("../img/icons/marker_big.png");
  top: 0;
  left: -100px;
  z-index: -1;
}
.contacts_page .wrapper_half {
  position: relative;
  max-width: 560px;
  width: 100%;
  height: 520px;
  background-color: white;
  z-index: 10;
}
.contacts_page .wrapper_fullHD {
  margin-bottom: 80px;
}

.about {
  position: relative;
}
.about .line-gold_right {
  left: 40%;
  top: 154px;
}
.about__main {
  margin: 48px 0 100px;
  display: flex;
}
.about__img-container {
  margin-right: 72px;
}
.about__content .education__achievements__list {
  margin: 0;
  padding: 0 0 32px;
  display: flex;
  justify-content: space-between;
  border: none;
}
.about__content .education__achievements__list li {
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.about__content .education__achievements__list li p {
  max-width: 168px;
}
.about__content > p {
  margin-bottom: 20px;
  font-size: 18px;
}
.about__link {
  margin-top: 20px;
  display: inline-block;
}
.about__name {
  font-family: "Bodoni";
  font-weight: 600;
}
.about__name h2 {
  font-size: 60px;
  max-width: 420px;
  line-height: 1.1;
}
.about__name div {
  margin-top: 8px;
  font-size: 42px;
  color: #cc9966;
}
.about h1 {
  margin-top: 88px;
  padding-right: 32px;
  display: inline-block;
  color: #cc9966;
  background-color: white;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 100px;
}

.documents {
  position: relative;
  background-color: #252525;
}
.documents .line-gold_left {
  z-index: 5;
  right: 40%;
  top: 124px;
}
.documents .title__wrapper {
  justify-content: flex-end;
}
.documents h2 {
  margin-top: 60px;
  padding-left: 36px;
  display: inline-block;
  color: #cc9966;
  background-color: #252525;
  z-index: 10;
}
.documents__list {
  margin: 60px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  gap: 40px;
}
.documents__list img {
  max-width: 284px;
  opacity: 0.4;
  border: 1px solid #cc9966;
  transition: opacity 0.3s, transform 0.3s;
}
.documents__list img:hover {
  transform: scale(1.1);
  opacity: 1;
}
.documents__list div {
  max-width: 270px;
  font-size: 18px;
}
.documents__img__title {
  margin-top: 20px;
  color: #cc9966;
  font-weight: 600;
}
.documents__img__text {
  color: white;
}

.publication {
  margin-top: 80px;
  position: relative;
}
.publication .line-gold_right {
  left: 50%;
  top: 66px;
}
.publication h2 {
  padding-right: 32px;
  display: inline-block;
  color: #cc9966;
  background-color: white;
  max-width: 640px;
}
.publication__text {
  margin: -96px 0 0 380px;
  font-size: 18px;
}
.publication__text p {
  margin-bottom: 24px;
}
.publication__list {
  margin: 48px 0 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 4fr));
  gap: 70px;
}
.publication__list__img {
  width: 100%;
}
.publication__list_video {
  display: flex;
  gap: 20px;
}
.publication__list_video .img__title {
  margin: 12px 0;
}
.publication__list_video .img__title_publication {
  font-weight: 600;
}
.publication__list_video .img__link {
  color: #cc9966;
}
.publication__list_video .img__link strong {
  display: block;
}
.publication__list_video img {
  width: 100%;
}
.publication__list a {
  color: #252525;
  font-size: 18px;
}
.publication__list .publication__link_more {
  display: flex;
  justify-content: center;
}
.publication__list .publication__link_more a {
  display: block;
  max-width: 200px;
  color: #cc9966;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 36px;
}
.publication__list .publication__link_more a div {
  margin-bottom: 24px;
}
.publication__list .publication__link_more .img__title_publication {
  margin: 16px 0 8px;
  font-weight: 600;
  max-width: 280px;
}
.publication_page {
  position: relative;
}
.publication_page .line-gold_right {
  left: 40%;
  top: 154px;
}
.publication_page__text {
  margin-top: 48px;
  font-size: 18px;
}
.publication_page__text__quotes-container {
  margin-right: 32px;
  float: left;
  width: 290px;
  height: 146px;
  background: url("../img/quots_revers.png") no-repeat;
  background-size: contain;
}
.publication_page__text p {
  margin-bottom: 24px;
}
.publication_page__info-container {
  max-width: 364px;
}
.publication_page h1 {
  margin-top: 88px;
  padding-right: 32px;
  display: inline-block;
  color: #cc9966;
  background-color: white;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 100px;
}
.publication_page__list {
  margin-top: 60px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
}
.publication_page__list img {
  width: 100%;
}
.publication_page__list a {
  color: #252525;
  font-size: 18px;
}
.publication_page__list .img__title_publication {
  font-weight: 600;
}
.publication_page__list .img__date {
  margin-top: 8px;
  color: #cc9966;
}
.publication_page__list .publication_page__info-container {
  margin: 16px 0 40px;
}
.publication_videos {
  position: relative;
}
.publication_videos .line-gold_right {
  left: 25%;
  top: 154px;
}
.publication_videos h2 {
  margin: 88px 0 40px;
  padding-right: 32px;
  display: inline-block;
  color: #cc9966;
  background-color: white;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 100px;
}

.partners {
  padding: 80px 0;
  position: relative;
}
.partners .line-gold_right {
  left: 40%;
  top: 146px;
}
.partners__list {
  padding-left: 48px;
}
.partners__location {
  margin: 16px 0 36px;
  color: #cc9966;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 36px;
}
.partners__content {
  display: flex;
  font-size: 18px;
}
.partners__text {
  padding-right: 32px;
  width: 50%;
}
.partners__text ul {
  margin-left: 20px;
}
.partners__text ul.docs {
  font-weight: 600;
}
.partners__text ul li::marker {
  margin-right: 4px;
  content: "— ";
}
.partners__contacts {
  padding: 36px 24px 20px 52px;
  width: 50%;
  border: 2px solid #ebebeb;
}
.partners__contacts__title {
  color: #bebebe;
  font-weight: 600;
}
.partners__contacts__link {
  color: #252525;
  white-space: nowrap;
}
.partners__contacts ul {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
}
.partners__contacts ul.uyvk {
  background: url("../img/uyvk.png") bottom 12px right 8px no-repeat;
}
.partners__contacts ul.dmmc {
  background: url("../img/dmmc.png") bottom 12px right 0 no-repeat;
}
.partners__contacts li:not(:last-child) {
  margin-bottom: 20px;
}
.partners__site-link {
  color: #cc9966;
  font-weight: 600;
}
.partners h1 {
  padding: 0 48px;
  display: inline-block;
  font-family: Bodoni;
  font-weight: 600;
  font-size: 100px;
  background-color: white;
}
.partners h2 {
  margin-top: 80px;
  font-size: 60px;
  line-height: 1;
  max-width: 920px;
}
.partners p {
  margin-bottom: 20px;
  line-height: 1.15;
}

.practice {
  margin: 100px 0 0 48px;
  position: relative;
}
.practice .line-gold_right {
  left: 30%;
  top: 66px;
}
.practice .wrapper {
  position: relative;
}
.practice .wrapper::after {
  position: absolute;
  content: "2018-2022";
  writing-mode: vertical-rl;
  color: #ebebeb;
  right: 0;
  top: 150px;
  font-size: 300px;
  font-weight: 600;
  font-family: Bodoni;
  z-index: -1;
}
.practice h1 {
  padding-right: 20px;
  display: inline-block;
  font-size: 100px;
  font-family: Bodoni;
  background-color: white;
}
.practice h2 {
  margin-top: 60px;
  font-size: 60px;
  line-height: 1;
  max-width: 860px;
}
.practice h3 {
  margin-top: 36px;
  color: #cc9966;
  font-size: 36px;
  font-family: Bodoni;
}
.practice ul {
  padding: 20px 0 48px 36px;
  max-width: 960px;
}
.practice ul li {
  margin-bottom: 20px;
  position: relative;
}
.practice ul li::before {
  margin-right: 16px;
  content: url("../img/icons/check_gold.png");
  position: absolute;
  top: -4px;
  left: -36px;
}
.practice ul:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  .hero {
    padding: 300px 0 40px;
  }

  .principles__list {
    grid-template-columns: 1fr;
  }

  .callback__controls {
    margin-left: 24px;
  }

  .about__main {
    flex-flow: column;
  }
  .about__img-container img {
    max-width: 560px;
    width: 100%;
  }

  .publication__list {
    flex-flow: wrap;
  }
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 80px;
  }

  .principles .line-gold_right, .line-gold_left, .line-black_right, .line-black_left, .line-black_left {
    display: none;
  }

  .header__link_mail {
    font-size: 0;
  }
  .header__link_mail::before {
    content: "@";
    font-size: 18px;
    font-weight: 600;
  }
  .header__link_phone {
    font-size: 14px;
  }
  .header__callback {
    padding: 12px 24px;
    font-size: 14px;
  }

  .hero {
    padding: 240px 0 32px;
  }
  .hero__achievements {
    margin-top: 40px;
  }
  .hero__achievements__list {
    flex-flow: wrap;
    justify-content: space-around;
    gap: 0;
  }
  .hero__achievements__list li {
    margin: 24px auto 0;
    justify-content: center;
    width: 50%;
  }
  .hero__main h1 {
    font-size: 80px;
  }

  .principles .line-gold_right {
    top: 52px;
  }

  .services__list {
    column-gap: 80px;
  }

  .cases .slick-list {
    margin: 0 280px;
  }
  .cases .slick-arrow {
    font-size: 20px;
  }

  .education .wrapper {
    flex-flow: column-reverse;
  }
  .education .wrapper_half {
    width: unset;
  }
  .education__card {
    margin: 0 auto;
  }
  .education__list {
    text-align: center;
  }
  .education h2 {
    margin-bottom: 32px;
  }

  .publication .line-gold_right {
    top: 50px;
  }
  .publication__text {
    margin: -80px 0 0 280px;
  }

  .contacts .wrapper {
    flex-flow: column;
  }
  .contacts .wrapper_half {
    width: unset;
  }
  .contacts__list {
    text-align: center;
  }
  .contacts h2 {
    text-align: center;
  }
  .contacts_page .wrapper_half {
    max-width: unset;
  }
  .contacts_page .title__container {
    margin-bottom: unset;
    justify-content: center;
  }
  .contacts_page h1 {
    padding-left: unset;
    font-size: 60px;
  }

  #YMapsID, #YMapsID2 {
    position: relative;
    left: unset;
    right: unset;
  }

  .footer__list {
    flex-flow: column;
  }
  .footer__list li {
    margin-bottom: 16px;
  }

  .callback .wrapper {
    padding: 80px 15px 40px;
  }
  .callback form {
    margin-top: 48px;
    flex-flow: column;
    align-items: center;
  }
  .callback__controls__text {
    position: absolute;
    top: 24px;
    left: 16px;
    right: 16px;
    align-items: center;
    text-align: center;
  }
  .callback__controls__text div {
    max-width: unset;
  }
  .callback__inputs__small-group {
    flex-flow: column;
    gap: 0;
  }
  .callback h2 {
    margin: -18px 0 8px;
  }

  .accordion__item h2 {
    padding: 24px 0;
    font-size: 24px;
  }
  .accordion__arrow-container {
    width: 160px;
  }
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 64px;
  }

  .header__link_mail {
    font-size: 0;
    width: 0;
  }
  .header__link_mail::before {
    content: unset;
  }
  .header__link_phone {
    font-size: 0;
    width: 0;
  }
  .header__callback {
    padding: 0;
    font-size: 0;
    border: none;
    width: 0;
  }

  .cases .slick-list {
    margin: 0 140px;
  }
  .cases .slick-arrow {
    flex-flow: column;
    line-height: 1.8;
  }
  .cases__title h2 {
    margin-left: unset;
  }

  .about .line-gold_right {
    top: 82px;
  }
  .about h1 {
    margin: 48px 0 16px;
    font-size: 60px;
  }
  .about__img-container {
    margin: 0;
  }
  .about__name h2 {
    font-size: 48px;
  }
  .about__name div {
    font-size: 36px;
  }
  .about__content .education__achievements__list {
    flex-flow: column;
  }
  .about__content .education__achievements__list li {
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  .documents h2 {
    margin-top: 40px;
    font-size: 40px;
  }
  .documents__list {
    justify-content: space-around;
  }

  .services__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 56px;
    row-gap: 80px;
  }
  .services_page .line-gold_right {
    top: 82px;
  }
  .services_page h1 {
    margin: 48px 0;
    font-size: 60px;
  }

  .partners .line-gold_right {
    top: 122px;
  }
  .partners__content {
    flex-flow: column;
  }
  .partners__text, .partners__contacts {
    margin-bottom: 16px;
    width: unset;
  }
  .partners__list {
    padding-left: unset;
  }
  .partners h1 {
    padding: 0 24px;
    font-size: 64px;
  }
  .partners h2 {
    margin-top: 40px;
    font-size: 40px;
  }
  .partners__location {
    font-size: 24px;
  }

  .callback__controls__text div {
    font-size: 18px;
  }

  .practice {
    margin: 60px 0 0 20px;
  }
  .practice .line-gold_right {
    top: 40px;
  }
  .practice h1 {
    font-size: 60px;
  }
  .practice h2 {
    margin-top: 40px;
    font-size: 44px;
  }
  .practice h3 {
    font-size: 24px;
  }
  .practice ul {
    padding: 20px 0 24px 36px;
  }

  .contacts_page h2 {
    font-size: 32px;
  }

  .accordion__item {
    height: 260px;
  }
  .accordion__item::after {
    right: 120px;
  }
  .accordion__item h2 {
    padding: 20px 0;
    font-size: 22px;
  }
  .accordion__icon-container {
    width: 90px;
  }
  .accordion__arrow-container {
    width: 140px;
  }

  .publication .line-gold_right {
    top: 28px;
  }
  .publication h1 {
    font-size: 60px;
  }
  .publication h2 {
    font-size: 48px;
  }
  .publication__list_video {
    flex-flow: column;
  }
  .publication__list_video li {
    margin-top: 20px;
    display: flex;
  }
  .publication__list_video li .publication_page__video-container {
    margin-right: 20px;
    max-height: 200px;
    overflow: hidden;
  }
  .publication__text {
    margin: 40px 0;
  }
  .publication_page .line-gold_right {
    top: 126px;
  }
  .publication_page h1 {
    font-size: 60px;
  }
  .publication_page__text__quotes-container {
    width: 146px;
    height: 72px;
  }
  .publication_page_videos .line-gold_right {
    top: 126px;
  }
  .publication_page_videos h2 {
    margin-top: 48px;
    font-size: 48px;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 48px;
  }

  .logo_header .logo__text {
    display: none;
  }

  .header__nav {
    padding: 24px 0;
  }

  .hero {
    padding: 140px 0 32px;
  }
  .hero__main h1 {
    font-size: 56px;
  }
  .hero__main span {
    font-size: 28px;
  }
  .hero__achievements__list li {
    width: 100%;
  }
  .hero__nav {
    font-size: 20px;
  }

  .nav__list_1 {
    font-size: 20px;
  }

  .about .line-gold_right {
    top: 76px;
  }
  .about h1 {
    font-size: 44px;
  }
  .about__main {
    margin: 24px 0 40px;
  }
  .about__name h2 {
    margin-top: 20px;
    font-size: 36px;
  }
  .about__name div {
    font-size: 28px;
  }

  .principles {
    margin-top: 40px;
  }
  .principles__list li span {
    font-size: 28px;
  }

  .services {
    padding: 40px 0;
  }
  .services__list {
    grid-template-columns: 1fr;
  }

  .cases {
    padding: 40px 0;
  }
  .cases .slick-arrow {
    font-size: 20px;
  }
  .cases .slick-list {
    margin: 0 40px;
  }

  .practice {
    margin: 40px 0 0;
  }
  .practice .line-gold_right {
    top: 32px;
  }
  .practice h1 {
    font-size: 52px;
  }
  .practice h2 {
    margin-top: 32px;
    font-size: 32px;
  }

  .accordion__item {
    padding-right: 16px;
  }
  .accordion__item::after {
    right: 0;
  }
  .accordion__arrow-container {
    display: none;
  }

  .callback__buttons {
    flex-flow: column;
    gap: 20px;
  }

  .publication h1 {
    font-size: 48px;
  }
  .publication_page .line-gold_right {
    top: 80px;
  }
  .publication_page h1 {
    margin-top: 48px;
    font-size: 48px;
  }
  .publication_page__text__quotes-container {
    width: 110px;
    height: 64px;
  }
  .publication__list_video li {
    display: block;
  }
  .publication_videos .line-gold_right {
    top: 80px;
  }
  .publication_videos h2 {
    margin-top: 48px;
    font-size: 48px;
  }
}
@media only screen and (min-width: 1380px) {
  .video-bg__file {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
