@font-face
  font-family: "ProximaNova"
  font-style: normal
  font-weight: 400
  src: url("/fonts/ProximaNova-Regular.ttf") format("ttf")

@font-face
  font-family: "ProximaNova"
  font-style: italic
  font-weight: 400
  src: url("/fonts/ProximaNova-RegularIt.ttf") format("ttf")

@font-face
  font-family: "ProximaNova"
  font-style: normal
  font-weight: 600
  src: url("/fonts/ProximaNova-Black.ttf") format("ttf")

@font-face
  font-family: "ProximaNova"
  font-style: normal
  font-weight: 800
  src: url("/fonts/ProximaNova-Extrabld.ttf") format("ttf")

@font-face
  font-family: "Bodoni"
  font-style: normal
  font-weight: 400
  src: url("/fonts/7107.ttf") format("ttf")

@font-face
  font-family: "Bodoni"
  font-style: normal
  font-weight: 800
  src: url("/fonts/7111.ttf") format("ttf")


//  COLORS
$textBlack: #000000
$darkGrey: #252525
$lightGrey: #ebebeb
$white: #ffffff
$gold: #cc9966


//  FONTS
$regular: sans-serif
//$bold: Nat Bold, sans-serif
//$pt: PT, sans-serif
//$bch: BCH, sans-serif
