@media only screen and (max-width: 1200px)
  .hero
    padding: 300px 0 40px

  .principles
    &__list
      grid-template-columns: 1fr

  .callback
    &__controls
      margin-left: 24px

  .about
    &__main
      flex-flow: column
