@media only screen and (max-width: 480px)
  h2
    font-size: 48px

  .logo_header
    .logo__text
      display: none

  .hero
    &__main
      h1
        font-size: 56px
      span
        font-size: 28px
    &__achievements
      &__list
        li
          width: 100%


  .principles
    margin-top: 40px
    &__list li span
      font-size: 28px

  .services
    padding: 40px 0
    &__list
      grid-template-columns: 1fr

  .cases
    padding: 40px 0
    .slick-arrow
      font-size: 20px
    .slick-list
      margin: 0 40px
