@media only screen and (max-width: 800px)
  h2
    font-size: 72px

  .header
    &__link
      &_mail
        font-size: 0
        width: 0
        &::before
          content: unset
      &_phone
        font-size: 0
        width: 0
    &__callback
      padding: 0
      font-size: 0
      border: none
      width: 0

  .cases
    .slick-list
      margin: 0 140px
    .slick-arrow
      flex-flow: column
      line-height: 1.8
    &__title h2
      margin-left: unset

  .services__list
    grid-template-columns: repeat(2, 1fr)
    column-gap: 56px
    row-gap: 80px
