@media only screen and (max-width: 800px)
  h2
    font-size: 64px

  .header
    &__link
      &_mail
        font-size: 0
        width: 0
        &::before
          content: unset
      &_phone
        font-size: 0
        width: 0
    &__callback
      padding: 0
      font-size: 0
      border: none
      width: 0

  .cases
    .slick-list
      margin: 0 140px
    .slick-arrow
      flex-flow: column
      line-height: 1.8
    &__title h2
      margin-left: unset

  .services
    &__list
      grid-template-columns: repeat(2, 1fr)
      column-gap: 56px
      row-gap: 80px
    &_page
      .line-gold_right
        top: 82px
      h1
        margin: 48px 0
        font-size: 60px

  .partners
    .line-gold_right
      top: 122px
    &__content
      flex-flow: column
    &__text, &__contacts
      margin-bottom: 16px
      width: unset
    &__list
      padding-left: unset
    h1
      padding: 0 24px
      font-size: 64px
    h2
      margin-top: 40px
      font-size: 40px
    &__location
      font-size: 24px

  .callback
    &__controls__text
      div
        font-size: 18px

  .practice
    margin: 60px 0 0 20px
    .line-gold_right
      top: 40px
    h1
      font-size: 60px
    h2
      margin-top: 40px
      font-size: 44px
    h3
      font-size: 24px
    ul
      padding: 20px 0 24px 36px

  .contacts
    &_page
      h2
        font-size: 32px

  .accordion
    &__item
      height: 260px
      &::after
        right: 120px
      h2
        padding: 20px 0
        font-size: 22px
    &__icon-container
      width: 90px
    &__arrow-container
      width: 140px


